@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$mainRed: #F26A4B;
$neutral: #F2F2F2;
$mainBlack: #242426;
$strgPurple: #776D8C;
$ltPurple: #B8A9D9;
$neutralGray: #a49f8c;