.accordion{
    
    &__box{
        border: 2px solid #fff;
        border-radius: 10px;
        margin-bottom: 10px;
        overflow: hidden;
    }
    
    
    &__title{
        position: relative;
        color: #fff;
        padding: 0.7rem;
        background-color: $strgPurple;
        
        
        h2{
            font-weight: 500;
            font-size: 1.15rem;
            @mixin atSmall{
                font-size: 1.5rem;
            }
        }
        span{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0.7rem;
        }
    }

    .fas{
        color: #fff;
        font-size: 1.5rem;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover{
            background-color: rgba(255, 255, 255, 0.3);
        }
    }

    .fa-times{display: none;}

    &__box--active{
        .fa-times{display: flex;}
        .fa-chevron-down{display: none;}
    }

    &__txt{
        padding: 0 0.7rem; /*padding to avoid left parts of the design*/
        background-color: $neutralGray;
        transition: all 300ms;
        max-height: 0;
        overflow-y: hidden; /* to avoid that ugly animation*/
        .accordion__box--active & {
            padding: 0.7rem;
            max-height: 300px;
        }
    }
}