.burger-menu{
    position: absolute;
    z-index: 3;
    right: 15px;
    top: 15px;
    display: block;
    @mixin atMedium{
        display: none;
    }

    &--active{
        .burger-menu__bar{
            &:nth-child(1){
                transform: rotate(45deg);
            }
            &:nth-child(2){
                transform: translateX(-50%);
                opacity: 0;
            }
            &:nth-child(3){
                transform: rotate(-45deg);
            }
        }
    }
    
    &__bar{
        display: block;
        height: 4px;
        width: 45px;
        background: #070700;
        margin-bottom: 12px;
        border-radius: 5px;
        box-shadow: 1px 1px 2px -1px rgba(22, 0, 11, 0.3);
        transform-origin: left;
        transition: all 200ms ease-out;

        
    }
}