.footer{
    background-color: #070707;
    position: absolute;
    bottom: 0;
    width: 100%;
    

    &__links{
        display: grid;
        grid-template: 60px 60px / 1fr 1fr;
        @mixin atSmall{
            grid-template: 60px / 1fr 1fr 1fr 1fr;
        }
        grid-gap: 10px;
        align-items: center;
    }
    
    &__link{
        padding: 0.2rem;
        text-align: center;
        
        &:nth-child(3){
            font-style: italic;
            font-size: 0.5rem;
        }

        a{
            text-decoration: none;
            color: $neutral;
            font-weight: 300;
            font-size: .9rem;
        }

    }
}