.header{
    background-color: $mainBlack;
    color: white;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: row;
    border-bottom: 5px solid $strgPurple;
    box-shadow: 0px 0px 10px -2px #070707;
/* mobile nav-bar: */
    &__mob-nav{
        display: block;
    }

    &__navbar{
        display: none;
    }

    @mixin atSmall{
        &__mob-nav{
            display: none;
        }
        &__navbar{
            display: flex;
            max-height: 60px;
            align-items: end;
        }
    }
/* logo and the links: */
    &__logo{
        background-color: $ltPurple;
        position: fixed;
        right: 20px;
        top: 0;
        height: 90px;
        border-radius: 0% 0% 50% 50%;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
        border: 1px solid #070707;
        
        h2{
            margin-top: 0.9rem;
            padding: 0.1rem;
        }
    }
    
    &__links{
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__link{
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        font-size: 1.1rem;
        font-weight: 400;
        font-style: italic;
        background-color: $ltPurple;
        width: 90px;
        padding: 0.7rem 0.5rem;
        border: 1px solid $strgPurple;
        border-radius: 9px 9px 0px 0px;
        margin-left: 0.1rem;
        transition: all 250ms ease-in-out;

        a{
            color: white;
            text-decoration: none;
        }

        &:hover{
            background-color: $strgPurple;
            border-color: $ltPurple;
            border-bottom-color: $strgPurple;
        }
    }


}