.header{

    &__mob-nav{
        background: rgba(255, 255, 255, 0.8);
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
        visibility: hidden;
        padding: 12rem 11.5rem;
        border-radius: 50%;
        &--active{
            visibility: visible;
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }

    }

    &__mob-links{
        width: 250px;
        position: relative;
    }

    &__mob-link{
        font-size: 1.3rem;
        padding: 7px 0px;
        text-align: center;
        margin: 0;
        cursor: pointer;

        a{
            text-decoration: none;
            color: #070707;
            font-weight: 700;
        }

        &:nth-child(1):hover ~ .underline{
            width: 94px;
            top: 32px;
            background-color: $mainRed;
        }
        &:nth-child(2):hover ~ .underline{
            width: 61px;
            top: 70px;
            background-color: $mainRed;
        }
        &:nth-child(3):hover ~ .underline{
            width: 88px;
            top: 113px;
            background-color: $mainRed;
        }
        &:nth-child(4):hover ~ .underline{
            width: 50px;
            top: 148px;
            background-color: $mainRed;
        }
        &:nth-child(5):hover ~ .underline{
            width: 50px;
            top: 187px;
            background-color: $mainRed;
        }
    }

    .underline{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: auto; 
        width: 0;
        height: 3px;
        border-radius: 3px;
        background-color: transparent;
        transition: 300ms ease;
    }

}