.wrapper{
    padding-left: 15px;
    padding-right: 15px;


    
    
    @mixin atSmall{
        padding-left: 65px;
        padding-right: 65px;
        &--narrow{
            padding-left: 200px;
            padding-right: 200px;
        }
    }
}